.wrap {
  padding-top: 150px;
  width: 300px;
  margin: 0 auto;
  perspective: 2000px;
  -webkit-perspective: 2000px;
  perspective-origin: 50% 50%;
  -webkit-perspective-origin: 50% 30%;
}

.infoList {
  height: 300px;
  width: 200px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-6deg);
  -webkit-transform: rotateX(-6deg);
}

.infoList .item {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.item .img {
  width: 100%;
}
